In [1]:
import sys

PATH: str = '/home/andrey/.cache/kagglehub/datasets/shohinurpervezshohan/freelancer-earnings-and-job-trends/versions/1/freelancer_earnings_bd.csv'

sys.path.append('/home/andrey/test-tasks/xindata-income-analyzer')

In [2]:
import pandas as pd

data = pd.read_csv(PATH)

In [3]:
data.shape

(1950, 15)

In [4]:
data.head()

,Freelancer_ID,Job_Category,Platform,Experience_Level,Client_Region,Payment_Method,Job_Completed,Earnings_USD,Hourly_Rate,Job_Success_Rate,Client_Rating,Job_Duration_Days,Project_Type,Rehire_Rate,Marketing_Spend
0,1,Web Development,Fiverr,Beginner,Asia,Mobile Banking,180,1620,95.79,68.73,3.18,1,Fixed,40.19,53
1,2,App Development,Fiverr,Beginner,Australia,Mobile Banking,218,9078,86.38,97.54,3.44,54,Fixed,36.53,486
2,3,Web Development,Fiverr,Beginner,UK,Crypto,27,3455,85.17,86.60,4.20,46,Hourly,74.05,489
3,4,Data Entry,PeoplePerHour,Intermediate,Asia,Bank Transfer,17,5577,14.37,79.93,4.47,41,Hourly,27.58,67
4,5,Digital Marketing,Upwork,Expert,Asia,Crypto,245,5898,99.37,57.80,5.00,41,Hourly,69.09,489

In [5]:
from xindata_income_analyzer.model.preprocessing.utils import table_to_text

In [6]:
print(table_to_text(PATH), file=open('this.txt', 'w'))

In [7]:
from transformers import GPT2Tokenizer, TextDataset, DataCollatorForLanguageModeling

tokenizer = GPT2Tokenizer.from_pretrained("ai-forever/rugpt3small_based_on_gpt2")

/home/andrey/test-tasks/xindata-income-analyzer/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
from xindata_income_analyzer.model.preprocessing.pretrain import pretrain_model

pretrain_model(
    "ai-forever/rugpt3small_based_on_gpt2", 
    '/home/andrey/test-tasks/xindata-income-analyzer/playground/this.txt', 
    '/home/andrey/test-tasks/preptrained_models/updated_rugpt3small_based_on_gpt2',
)